<footer class="footer-distributed">
 
    <div class="footer-left">

    <h3>Covid-19 <span> Donations</span></h3>

    <a href="http://www.sstrust.org" class="footer-company-name">Sai sanjeevani charitable trust</a>
    </div>

    <div class="footer-center">

    <div>
    <i class="fa fa-map-marker"></i>
    <p><span>21 Revolution Street</span> Delhi, India</p>
    </div>
    <div>
        <i class="far fa-envelope"></i>
        <p>saisanjeevanitrust01@gmail.com</p>
    </div>

    <div>
    <i class="fa fa-phone"></i>
    <p>+91 7715079505</p>
    </div>

    </div>

    <div class="footer-right">

    <p class="footer-company-about">
    <span>About covid19</span>
      A COVID‑19 vaccine is a biotechnology intended to provide acquired immunity against coronavirus disease 2019 (COVID‑19).
    </p>

    <div class="footer-icons">

    <a href="https://www.facebook.com/sai.sanjeevani.33"><i class="fa fa-facebook"></i></a>
    <a href="twitter.com/sanjeevani_sai"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/saisanjeevani01/"><i class="fa fa-instagram"></i></a>

    </div>
    </div>
</footer>
<div class="row  d-flex justify-content-center align-items-center" id="credit-row" style="background-color: #000;margin: 0;">
    <div class="col d-flex justify-content-center align-items-center">
        <h5>Developed by :<a href="#">Kunal Gupta</a> and <a href="#">Aditi Goyal</a> (CoDev)</h5>
    </div>
</div>