<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="font-weight: 400;">Covid-19 Donations</h1>
      <div class="container">
      <h5 style="font-weight: 300;"> The world is facing an unprecedented challenge with communities and economies everywhere affected by the growing COVID-19 pandemic. The world is coming together to combat the COVID-19 pandemic bringing governments, organizations from across industries and sectors and individuals together to help respond to this global outbreak. The outpouring of global solidarity and support sparked by this shared challenge has been phenomenal.
      </h5>
      </div>
    </div>
  </section><!-- End Hero Section -->

<!-- about us section -->
<section id="quote" >
  <div class="container">
    <div class="row d-flex">
      <div data-aos="zoom-in" class="col mt-5 d-flex justify-content-center ">
       <h4 style="text-align: center; margin-top: 50px; color:#eb4559;"> <q>We all are responsible for ensuring that those who have tested positive for COVID-19 receive all our love 
          and care & don’t feel any stigma. We must all practice social distancing but we shouldn’t isolate them from our society!
          We can win this war only by supporting each other.</q>
        </h4>
      </div>
    </div>
  </div>
</section>
<!-- Our relief services -->
<section style="margin-top:80px ;" id="our-work">
  <div class="container">
    <div class="row">
      <div data-aos="fade-down" class="col main-heading d-flex justify-content-center"><h1>Our Work</h1></div>
    </div>
    <div class="row">
      <div data-aos="fade-right" class="col col-12 col-sm-6">
        <div class="row sub-heading d-flex justify-content-center"><h2>Widows</h2></div>
        <div class="row content">
          <h5>
            When a spouse dies, it is an extremely traumatic event regardless of age or cause of death.
            It can leave the widowed, orphaned feeling lost or empty, often times for years. Exactly what constitutes a normal timeline 
            for grief is a sensitive topic that relies on many variables, but most individuals eventually move past the signs 
            and symptoms of what is known as complicated grief (denial, pain, anger, or guilt, among other emotions) and arrive at the stage of acceptance.Our Organization help such needy people as required providing them what is necessary.
          </h5>
        </div>
      </div>
      <div data-aos="fade-left" class="col col-12 col-sm-6 d-flex justify-content-center image">
        <div class="image-box  d-flex justify-content-center">
          <img class="image" src="/images/pic1.jpg">
        </div>
      </div>
    </div>

    <div class="row  new-row ">
      <div data-aos="fade-right" class="col col-12 col-sm-6 d-flex justify-content-center image order-2 order-sm-1">
        <div class="image-box  d-flex justify-content-center">
          <img class="image" src="/images/pic6.jpg">
        </div>
      </div>
      <div data-aos="fade-left" class="col col-12 col-sm-6 order-1 order-sm-2">
        <div class="row sub-heading d-flex justify-content-center"><h2>Giving Ration to needy people</h2></div>
        <div class="row content">
          <h5>
            When a spouse dies, it is an extremely traumatic event regardless of age or cause of death.
            It can leave the widowed, orphaned feeling lost or empty, often times for years. Exactly what constitutes a normal timeline 
            for grief is a sensitive topic that relies on many variables, but most individuals eventually move past the signs 
            and symptoms of what is known as complicated grief (denial, pain, anger, or guilt, among other emotions) and arrive at the stage of acceptance.Our Organization help such needy people as required providing them what is necessary.
          </h5>
        </div>
      </div>
    </div>

    <div class="row  new-row">
      <div data-aos="fade-right" class="col col-12 col-sm-6">
        <div class="row sub-heading d-flex justify-content-center"><h2>Migrant Workers</h2></div>
        <div class="row content">
          <h5>
            The 21-day lockdown and loss of livelihood amidst social distancing rules is disproportionately affecting migrant workers, 
            daily wage-earners, the urban poor and other vulnerable groups. Hunger, lack of sanitary kits and loss of income to buy 
            basic essentials have left many helpless.<br>

            Alongside national initiatives like the PM Cares Fund, grassroots non-profits, 
            citizen groups, civil society organisations and even individuals are coming together to help those on
            the margins fight COVID-19 and hunger.Our Organization help such workers by providing them food, money and even shelter.
          </h5>
        </div>
      </div>
      <div data-aos="fade-left" class="col col-12 col-sm-6 d-flex justify-content-center image">
        <div class="image-box  d-flex justify-content-center">
          <img class="image" src="/images/migrant.jpg">
        </div>
      </div>
    </div>
    <div  id="donation-section"></div>
  </div>
</section>

 <!-- donation section -->
<section id="donation" style="margin-top: 50px;">
  <div class="container">
    <div class="row d-flex justify-content-center"><h2>Please! Donate</h2></div>
    <div class="row">
      <div class="col">
        <form class="" method="post" action="/payment" name="paytm">
          <!-- <div class="row justify-content-around">
            <div>
              <input type="radio" name="TXN_AMOUNT" value="5000">
              <label for="TXN_AMOUNT">Rs 5000</label>
            </div>
            <div>
              <input type="radio" name="TXN_AMOUNT" value="1000">
              <label>Rs 1000</label>
            </div>
          </div>
          <div class="row justify-content-around">
            <div>
              <input type="radio" name="TXN_AMOUNT" value="500">
              <label>Rs 500</label>
            </div>
            <div>
              <input type="radio" name="TXN_AMOUNT" value="200">
              <label>Rs 200</label>
            </div>
          </div>
          <div class="row justify-content-around">
            <div>
              <input type="radio" name="TXN_AMOUNT" value="100">
              <label>Rs 100</label>
            </div>
            <div>
              <input type="number" name="TXN_AMOUNT" placeholder="AMOUNT">
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Donate</button>
          </div> -->
          <table class="table" style="width: 100%;">
            <tr>
              <td>
                <input type="radio" name="TXN_AMOUNT" value="5000">
                <label for="TXN_AMOUNT">Rs 5000</label>
              </td>
              <td>
                <input type="radio" name="TXN_AMOUNT" value="1000">
                <label>Rs 1000</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="TXN_AMOUNT" value="500">
                <label>Rs 500</label>
              </td>
              <td>
                <input type="radio" name="TXN_AMOUNT" value="200">
                <label>Rs 200</label>
              </td>
            </tr>
            <tr>
              <td>
                <input type="radio" name="TXN_AMOUNT" value="100">
                <label>Rs 100</label>
              </td>
              <td>
                <input type="number" name="TXN_AMOUNT" placeholder="AMOUNT">
              </td>
            </tr>
            <tr>
              <td colspan="2" class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Donate</button>
              </td>
            </tr>
          </table>
      </form>
      </div>
    </div>
  </div>
</section>

<!--========About section=====-->
  <div class="section-full content-inner bg-white">
            <div class="container">
                    <div class="row d-flex">
                        <div class="col-lg-6 col-md-12 align-self-center m-b30">
							<div class="section-head covid-head m-b20 " data-aos="fade-right" data-aos-delay="100">
								<h2 class="title">Know More About<br>Corona Virus <span class="text-red">(COVID-19)</span></h2>
								<p class="m-b15">COVID-19 is the infectious disease caused by the most recently discovered corona virus. This new virus and disease were unknown before the outbreak began in Wuhan, China, in December 2019. </p>
							</div>
							<ul class="list-check primary">
								<li data-aos="fade-up"  data-aos-delay="100">Wash your hands regularly for 20 seconds.</li>
								<li data-aos="fade-up" data-aos-delay="100" >Cover your nose and mouth with a disposable tissue.</li>
								<li data-aos="fade-up" data-aos-delay="100">Avoid close contact (1 meter or 3 feet) with people.</li>
								<li data-aos="fade-up" data-aos-delay="100" >Stay home and self-isolate from others in the household.</li>
								<li data-aos="fade-up" data-aos-delay="100" >Protect yourself and help prevent spreading the virus.</li>                                       
							</ul>
                            
						</div>
                        <div class="col-lg-6 col-md-12 m-b30">
                            <div class="covid-about-img" data-aos="fade-up-left"  data-aos-duration="5000" >
								<img class="img-about" src="images/doctor2.png" alt="doctor.jpeg">
							</div>
                        </div>
                    </div>
            </div>
        </div>
</div><!--end of about section-->
<!--=====counter section=======-->
<div>
<div class="counter__area counter2">
    <div class="container">
        <div class="row">
            <div class="col-12">
               <div class="counters">
                   <div class="counters__wrap">
                        <div class="row">
                            <div class="col-md-6 col-lg-3 text-center">
                                <div class="single__counter wow fadeInUp " data-wow-delay="0.2">
                                    <h2 >
                                        <div>
                                            <span class="count">586244</span>
                                        </div>
                                    </h2>
                                    <p>Active</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 text-center">
                                <div class="single__counter wow fadeInUp " data-wow-delay="0.3">
                                    <h2 >
                                        <div>
                                            <span class="count">39795</span>
                                        </div>
                                    </h2>
                                    <p>Deceased</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 text-center">
                                <div class="single__counter wow fadeInUp ctype2" data-wow-delay="0.2">
                                    <h2 >
                                        <div>
                                            <span class="count">1282215</span>
                                        </div>
                                    </h2>
                                    <p>Recovered </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 text-center">
                                <div class="single__counter wow fadeInUp " data-wow-delay="0.4">
                                    <h2 >
                                        <div>
                                            <span class="count">1908254</span>
                                        </div>
                                    </h2>
                                    <p>Confirmed</p>
                                </div>
                            </div>
                            <div class="col-12 text-center wow fadeInUp">
                                <div class="space-30"></div>
                                <h6 class="emergency">*** Updated less than 20 mins ago</h6>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!--end of counter section-->
<!--===precautions section====-->
<div class="container prec">
    <div class="title-custom-embed group-x-15 group-x-xl-85 d-flex flex-wrap align-items-center" data-aos="zoom-in"  data-aos-duration="5000">
              <div>
                <h2><span class="font-weight-normal text-primary">Important </span><span class="font-weight-bold">Precautions</span></h2>
              </div>
              <div>
                <h4 class="font-weight-normal font-italic h4-margin" style="position: relative; z-index: 0"><span class="text-secondary">What </span><span>You Should Know</span></h4>
              </div>
            </div>
    <div class="row row-cols-1 row-cols-md-3">
 
  <div class="col mb-3">
    <div class="card " data-aos="zoom-in">
      <img src="images/calender.gif" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Stay home, social distancing</h5>
        <p class="card-text">Practice social distancing and don’t leave your your home without any urgent need to stay safe.</p>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card " data-aos="zoom-in">
      <img src="images/mask.gif" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Wear a mask if available</h5>
        <p class="card-text">A face mask is a must if you have symptoms of cold, flu, COVID-19 or other viruses and infections.</p>
      </div>
    </div>
  </div>
  <div class="col mb-3">
    <div class="card" data-aos="zoom-in">
      <img src="images/handshake.gif" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Avoid direct contact</h5>
        <p class="card-text">Avoiding any direct contact allows you to increase your protection from the emerged COVID-19 virus.</p>
      </div>
    </div>
  </div>
</div>
</div><!--end of precaution section-->

<!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Please! Donate </h3>
            <p class="cta-text"> Your help can bring many smiles and and can save many lives!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a style="text-decoration: none;" class="cta-btn align-middle" href="#">Donate Now</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->
<!--symptoms section-->
 <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">What Are The Main Symptoms?</h3>
          <p class="section-description">The COVID-19 virus affects different people in different ways.COVID-19 is a respiratory disease and most infected people will develop mild to moderate symptoms and recover without requiring special treatment. People who have underlying medical conditions and those over 60 years old have a higher risk of developing severe disease and death.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/cough.png"></a></div>
              <h4 class="title"><a href="">Dry Cough</a></h4>
              
              <p class="description">Coughing is a symptom of illnesses and conditions. It is the major symptom of coronavirus.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/sore-throat.png"></a></div>
              <h4 class="title"><a href="">Sore Throat</a></h4>
              <p class="description">A sore throat is a painful, dry, or scratchy feeling in the throat.Pain in the throat is one of the most common symptoms.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/cold.png"></a></div>
              <h4 class="title"><a href="">Cold</a></h4>
              <p class="description">Cold last on average 7 to 10 days. The majority of the symptoms are actually not caused by the infection itself, but rather our body’s immune system trying get rid of it. </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/fever.png"></a></div>
              <h4 class="title"><a href="">Fever</a></h4>
              <p class="description"> A temperature of more than 104°F (40°C) or less than 95°F (35°C) is cause for concern. Seek immediate medical help if this is the case.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/headache.png"></a></div>
              <h4 class="title"><a href="">Headache</a></h4>
              <p class="description">A headache can be caused by many factors related to the coronavirus, such as the physical discomfort of constant coughing and a stuffy sinus</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="zoom-in">
            <div class="box">
              <div class="icon"><a href=""><img src="images/vomiting.png"></a></div>
              <h4 class="title"><a href="">Vomiting</a></h4>
              <p class="description">Vomiting are said to be most common symptoms for the deadly virus. It can be a one-time event linked to something that doesn’t settle right in the stomach. </p>
            </div>
          </div>
        </div>

      </div>
    </section>
<!--===questions====-->


    
<!--js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script>
AOS.init();
</script>
<script src="/js/hero.js"></script>
<script>
  $('#exampleModalCenter').modal("show")
</script>